#timeline-1.timeline-container
  .timeline-header
    h2.timeline-header__title The Richard James Story
    h3.timeline-header__subtitle How we got here
  .timeline
    .timeline-item(data-text='Wroughton')
      .timeline__content
        img.timeline__img(src='https://incentivised.com/wp-content/uploads/2021/03/Wroughton-View.jpeg')
        h2.timeline__content-title
          | 1992
        p.timeline__content-desc
          | Richard James Estate Agency opened its doors and began operating from a small office in Wroughton.
    .timeline-item(data-text='Commercial Road')
      .timeline__content
        img.timeline__img(src='https://incentivised.com/wp-content/uploads/2021/03/Commercial-Road-2.jpg')
        h2.timeline__content-title 1996
        p.timeline__content-desc
          | Four years later, the business was established as the agent of choice in Wroughton and our second premises in Commercial Road, Swindon was acquired to cater for the Swindon Market.
    .timeline-item(data-text='Old Town')
      .timeline__content
        img.timeline__img(src='https://incentivised.com/wp-content/uploads/2021/03/Old-Town-Front-2.jpg')
        h2.timeline__content-title 2006
        p.timeline__content-desc
          | Richard James decided to concentrate on the core business of Estate Agency and a contemporary 3 story building with a glazed curtain wall was acquired in a prominent Old Town location. The refurbishment was a break from the 'traditional' Estate Agency format and this coincided with a company re-brand, incorporating an easily recognisable image of a daisy.
    .timeline-item(data-text='Restructure')
      .timeline__content
        img.timeline__img(src='https://incentivised.com/wp-content/uploads/2021/03/P5150319-scaled.jpg')
        h2.timeline__content-title 2007
        p.timeline__content-desc
          | This year started strongly, however, trading conditions worsened to an extent which we had never experienced, as the credit crunch took hold. A decision to close the Commercial Road branch was taken and we restructured, with costs trimmed to a minimum, whilst using the recession as an opportunity to increase the market. New technology was also introduced to enable our workforce to be sales dominated, which saw a significant reduction in admin due to the use of the new software packages.
    .timeline-item(data-text='Swindon Homefinders')
      .timeline__content
        img.timeline__img(src='https://incentivised.com/wp-content/uploads/2021/03/Homefinders-Mini.jpg')
        h2.timeline__content-title 2010
        p.timeline__content-desc
          | Three years later, our lettings business had grown quickly and was continuing to flourish! We shared a view with another local company, that combining our lettings business with theirs would improve customer service, produce economies of scale and present a better opportunity to flourish in a growing market, than continue to compete with each other. Soon after, a merger with local company Swindon Homefinders went ahead and the impact saw our market share and brand awareness increase in line with expectations. This successful merger with Swindon Homefinders gave us the opportunity to have a presence back on Commercial Road.
    .timeline-item(data-text='West Swindon')
      .timeline__content
        img.timeline__img(src='https://incentivised.com/wp-content/uploads/2021/03/West-Swindon-Front-2.jpg')
        h2.timeline__content-title 2011
        p.timeline__content-desc
          | The estate agency business continued to grow throughout the recession and the decision to attack the market (as opposed to waiting for the recovery) proved to be a successful formula. We incorporated a local business based in West Swindon, re-branded, and produced outstanding results, more than quadrupling the previous turnover.
    .timeline-item(data-text='Highworth')
      .timeline__content
        img.timeline__img(src='https://incentivised.com/wp-content/uploads/2021/03/Highworth-Coffee-House.jpg')
        h2.timeline__content-title 2013
        p.timeline__content-desc
          | Two years later, we opened our Highworth Branch, in a premises which operated as a coffee shop. We decided to maintain the operation of the coffee shop in this premises as the local community expressed concern about the loss of it, and the owner was happy to stay on. We refurbished the shop for the existing tenant and moved into an office upstairs. We also celebrated our Wroughton office being open for 20 years in 2012, as seen in our window displays.
    .timeline-item(data-text='East Swindon')
      .timeline__content
        img.timeline__img(src='https://incentivised.com/wp-content/uploads/2021/03/East-Swindon-Front.jpg')
        h2.timeline__content-title 2014
        p.timeline__content-desc
          | The tenant moved on from the coffee shop midway through the year which enabled us to refurbish the ground floor. We moved our agency staff downstairs so that we had more space for our clients to visit. This year was fruitful and saw us open our sixth branch within the East Swindon area in October. The office is based on Grange Drive in Stratton and since our move to the area, the office has been thriving!
    .timeline-item(data-text='Royal Wootton Bassett')
      .timeline__content
        img.timeline__img(src='https://incentivised.com/wp-content/uploads/2021/03/RWB-Front.jpg')
        h2.timeline__content-title 2015
        p.timeline__content-desc
          | We continued to expand with our seventh office opening on the High Street in Royal Wootton Bassett. The summer saw us take over the reins from Select Properties, who’s former owners are now enjoying retirement. Towards the end of the year, Paul Vitti Residential joined the Richard James team in our Royal Wootton Bassett office, bringing his portfolio of lettings properties with him, further expanding our existing portfolio. We also joined forces with Marriotts Estate Agents to open our eighth office in Faringdon, located in a prominent position on the Market Square. The office came with new branding and is known as –  Marriotts with Richard James.
    .timeline-item(data-text='Headquarters')
      .timeline__content
        img.timeline__img(src='https://incentivised.com/wp-content/uploads/2021/03/RJ-Landlords-Required-Jan-2016_Page_2.jpg')
        h2.timeline__content-title 2016
        p.timeline__content-desc
          | This year was very exciting for the company as we launched our new headquarters in North Swindon. This central hub houses our dedicated sales progression, lettings admin and maintenance team, along with our marketing and management departments. Not only that, we also have our experienced negotiators providing North Swindon coverage for both sales and lettings.
    .timeline-item(data-text='Expansion')
      .timeline__content
        img.timeline__img(src='https://incentivised.com/wp-content/uploads/2021/03/Christopher-Bice-Takeover-2.jpg')
        h2.timeline__content-title 2019
        p.timeline__content-desc
          | After opening our Faringdon office in 2015 and is proving to be a successful location for our agents, we joined forces with Christopher Bice, taking on his portfolio of properties and clients in both sales and lettings, as he transitioned into retirement. We also merged with In House, who were an independent Agent in Old Town, and with that, took over their portfolio. This year also saw a transformation in the branding for the company, implementing the 'people focused' marketing - you might have seen our boards around town with the RJ faces on?
    .timeline-item(data-text='Building a brand')
      .timeline__content
        img.timeline__img(src='https://incentivised.com/wp-content/uploads/2021/03/RJTV-banner.jpg')
        h2.timeline__content-title 2020
        p.timeline__content-desc
          | We have approximately 110 staff working to ensure Richard James is awesome at looking after its customers and is a happy and rewarding place to work. We have a strong social presence across both our websites incentivised.com and RichardJames.tv and our social media platforms YouTube, Facebook, Instagram and LinkedIn - where you can follow us to see real-time updates.
