@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 130vh;
  width: 100%;
  background-image:  radial-gradient(circle, rgba(3,43,67,1) 15%, rgba(0,0,0,1) 100%);
}

section {
  position: relative;
    z-index: 3;
  height: 130vh;
}

.container {
  width: 100%;
  margin: 0;
  height: 80vh;
  display: flex;
}

.section-header {
  display: flex;
  text-align: center;
  height: 20vh;
  width: 100%;
}

.section-header h2 {
  color: #fff;
  font-weight: bold;
  font-size: 4em;
  
  margin-top: -10vh;
  margin-left: 60vh;
margin-top: 5vh;
height: 15vh;
width: 100vh;
}

.section-header p {
  color: #fff;

position: relative;
  margin-bottom: 20px;
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 190vh;
}

.contact-form {
  background-color: #fff;
  position: relative;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  width: 65%;
top: 10%;
margin-top: 10vh;
align-items: center;
left: 23%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin:  auto;
  height: 80vh;
  margin-bottom: 20vh;
  display: flex;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 50px;
  margin-left: 100px;
  color: #333;
}

.contact-form .input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 80px;
}

.contact-form .input-box label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
  width: 100%;
  background: #04829b;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #01333c;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
  background: #fff;
  color: #00bcd4;
}

/* Anchor Links */
body {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

nav ul li {
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #00bcd4;
}

